<div class="row col">

  <div class="card col">
    <div class="card-body text-center">
      <h2 class="card-title"><strong>Approved Credit</strong></h2>
      <h2 class="text-center" id="approved_credit"><strong>{{ data.approved_credits }}</strong></h2>
    </div>
  </div>

  <div class="card col">
    <div class="card-body text-center">
      <h2 class="card-title"><strong>User Credit</strong></h2>
      <h2 class="text-center" id="approved_credit"><strong>{{ data.user_credits }}</strong></h2>
    </div>
  </div>

  <div class="card col">
    <div class="card-body text-center">
      <h2 class="card-title"><strong>Approved Credit Balance</strong></h2>
      <h2 class="text-center" id="approved_credit"><strong>{{ data.approved_credit_balance }}</strong></h2>
    </div>
  </div>

</div>
  
  